apiVersion: v1
kind: Service
metadata:
  name: java-service
spec:
  ports:
  - port: 8080
    targetPort: 8080
    name: http
  - port: 9090
    targetPort: 9090
    name: grpc
  selector:
    app: java-service
