# Binaries
bin/
*.exe
*.test

# Dependencies
vendor/

# Git
.git
.github/

# Documentation
README.md
docs/
CONTRIBUTING.md
LICENSE

# IDE
.idea/
.vscode/
Makefile
Taskfile.yml
Taskfile.ymal

# Tests
*_test.go
*_testdata/

# Coverage
coverage/
cover.out

# Logs
*.log
logs/

# Local config
config.local.yaml

# Temp files
*.tmp
.DS_Store

.golangci.yml